<nvis-card>
    <div class="flex items-start justify-between">
        <h2 class="truncate text-lg font-medium leading-6 tracking-tight">Ringkasan Tugasan Mohd Mazlan Mohd Nor</h2>
    </div>
    <app-stats></app-stats>
</nvis-card>
<nvis-card>
    <div class="flex items-start justify-between">
        <h2 class="truncate text-lg font-medium leading-6 tracking-tight">Tugasan Hari Ini</h2>
    </div>
    <app-stats-count type="countOpen"></app-stats-count>
    <app-stats-count type="countGeneratedToday"></app-stats-count>
    <app-stats-count type="countDueToday"></app-stats-count>
    <app-stats-count type="countCompletedToday"></app-stats-count>
</nvis-card>
