<div class="logo-container">
    <img class="images" src="./assets/img/kementerian-kewangan-malaysia-logo.png">
    <img class="images" src="./assets/img/jpph-logo.png">
    <div class="logo-text">
        <h1 class="text">
            NVIS
        </h1>
        <h1 class="text small">
            NEW VALUATION INFORMATION SYSTEM
        </h1>
    </div>
</div>
