.images {
    width: 56px;
    height: 56px;
    margin-right: 4px;
}

.logo-container {
    cursor: pointer;
    max-width: 260px;
}

.logo-text {
    display: inline-block;
    width: 125px;
    padding-top: 5px;
    padding-left: 5px;
    vertical-align: top;
}

.text {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.2em;
}

.small {
    padding-top: 2px;
    font-size: 0.5rem;
    letter-spacing: 1px;
    line-height: 1.3em;
}
