<nvis-card>
    <div class="mt-2 flex flex-col items-center">
        <div class="text-7xl font-bold leading-none tracking-tight text-amber-500 sm:text-8xl">{{ count }}</div>
        <div class="text-lg font-medium text-amber-600 dark:text-amber-500">{{ statTitle }}</div>
    </div>
</nvis-card>
